<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>in.shikoch.maimaid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>maimaid</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera is required for scanning score images</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Needed to save captured score images to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows you to select score images to analyze and save captured results to albums.</string>
</dict>
</plist>
